<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <meta charset="UTF-8">
    <title>Metadaten</title>
    <style>
        .discipline li{
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container">
    <h4>Gefundene Daten für {{ title }}</h4>
    <h6>Erkannte Sprache: {{  language }}</h6>
    <div class="row">
        <div class="col s6">
            <h5>Fachgebiete (via Text Analyzer)</h5>
            <ul class="discipline">
                {% for d in disciplinesAnalyze %}
                    <li>{{ d }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col s6">
            <h5>Fachgebiete (via Prediction Network)</h5>
            <ul class="discipline">
                {% for d in disciplinesPredict %}
                    <li>{{ d.label }} ({{ d.precision | number_format(2, '.', ',')  }})</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <h5>Ähnliche/Empfohlene Elemente (via Prediction Network)</h5>
    <ul class="discipline">
        {% for d in recommend %}
            <li><a href="{{ d.url }}" target="_BLANK">{{ d.label }}</a> ({{ d.similarity | number_format(2, '.', ',')  }})</li>
        {% endfor %}
    </ul>
    <h5>Kategorien (Text Analyzer / Wikipedia)</h5>
    <ul>
        {% for key, c in categories %}
            <li><a href="https://de.wikipedia.org/wiki/{{ key }}" target="_blank">{{ key }}</a> ({{ c }})</li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
